@model List<Product>





@if (!Model.Any())
{
    <h1 class="text-center">
        Product Not Found
    </h1>
}
else
{
    <div class="row">





        @foreach (var product in Model)
        {
            <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
                <div class="product-cart-wrap mb-30">
                    <div class="product-img-action-wrap">
                        <div class="product-img product-img-zoom">
                            <a asp-controller="Product" asp-action="Detail" asp-route-id="@product.Id">
                                <img class="default-img" style="height:150px;object-fit:cover" src="~/client/assets/imgs/products/@(product.ProductImgs.FirstOrDefault(x=>x.IsMain).Url)" alt="" />
                                <img class="hover-img" style="height:150px; object-fit:cover" src="~/client/assets/imgs/products/@(product.ProductImgs.FirstOrDefault(x=>x.IsHower).Url)" alt="" />
                            </a>
                        </div>
                        <div class="product-action-1">
                            <a aria-label="Add To Wishlist" class="action-btn" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                            <a aria-label="Compare" class="action-btn" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>
                            <a aria-label="Quick view" class="action-btn" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="fi-rs-eye"></i></a>
                        </div>
                        <div class="product-badges product-badges-position product-badges-mrg">
                            <span class="hot">Hot</span>
                        </div>
                    </div>
                    <div class="product-content-wrap">
                        <div class="product-category">
                            <a>@product.Category.Name</a>
                        </div>
                        <h2><a asp-controller="Product" asp-action="Detail" asp-route-id="@product.Id">e</a></h2>
                        <div class="product-rate-cover">
                            <div class="product-rate d-inline-block">
                                <div class="product-rating" style="width: @(product.Rating * 20)%"></div>
                            </div>
                            <span class="font-small ml-5 text-muted"> (@(product.Rating))</span>
                        </div>
                        <div>
                            <span class="font-small text-muted">By <a href="vendor-details-1.html">NestFood</a></span>
                        </div>
                        <div class="product-card-bottom">
                            <div class="product-price">




                                @if (product.DiscountPrice > 0)
                                {
                                    <span>
                                        $@product.DiscountPrice
                                    </span>
                                    <span class="old-price">
                                        $@product.SellPrice
                                    </span>
                                }
                                else
                                {
                                    <span>
                                        $@product.SellPrice
                                    </span>
                                }
                            </div>
                            <div class="add-cart">
                                <a class="add" asp-action="AddToCart" asp-controller="Product" asp-route-id="@product.Id"><i class="fi-rs-shopping-cart mr-5"></i>Add </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
